<h2><%= translated_attribute budget.title %></h2>
<p>
<%= translated_attribute(current_settings.more_information_modal).presence %>
</p>
<div class="row column voting-rules">
  <div class="callout warning">
    <div class="row">
      <div class="columns medium-8 large-9">
        <h3 class="heading3">
          <%= t(".rules.title") %>
        </h3>
        <ul>
          <%= raw current_rule_explanation %>
          <li>Seul les lausannois.es enregistré.es au registre des habitants peuvent voter</li>
        </ul>
        <% if user_record_submitted? %>
         <h3 class="heading3">
          Vos données personnelles
        </h3>
          <dl>
            <dt>Prénom</dt>
            <dd><%= current_user_record.first_name %></dd>
            <dt>Nom de famille</dt>
            <dd><%= current_user_record.last_name %></dd>
            <dt>Date de naissance</dt>
            <dd><%= current_user_record.birthdate %></dd>
          </dl>
          <% if !current_user && current_order_checked_out? %>
            <%= button_to(
              t("decidim.lausanne.budgets.projects.banner.terminate_session", count: current_order.total_projects),
              lausanne_budget_user_record_path(lausanne_budget_id: current_user_record.budget.id, id: current_user_record.id),
              method: :delete,
              data: {
                disable: true,
              },
              class: "button secondary hollow small"
            ) %>
          <% end %>
        <% else %>
          <button class="button primary small" data-toggle="userRecord">
            J'ai compris,
            commencer à voter
          </button>    
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render partial: "budget_excess" %>
<%= render partial: "budget_confirm" %>
