<p>
<%= translated_attribute(current_settings.more_information_modal).presence %>
</p>
<% if (hide_user_record && !user_record_submitted?) || (!hide_user_record) %>
<div class="row column voting-rules">
  <div class="callout <%= current_order_checked_out? ? "success" : "secondary" %>">
    <div class="row">
      <div class="columns medium-8 large-9">
        <% if current_order_checked_out? %>
        <h3 class="heading3">
          <%= t(".checked_out_sucess") %>
        </h3>
        <div style="display: flex; gap: 1rem;align-items: center;">
          <%= button_to(
            t("decidim.lausanne.budgets.projects.banner.cancel_order", count: current_order.total_projects),
            lausanne_budget_order_path(current_user_record.budget),
            method: :delete,
            data: {
              disable: true,
              budget: current_user_record.budget,
              "redirect-url": lausanne_budget_path(current_user_record.budget)
            },
            disabled: current_order.total_projects == 0,
            class: "link secondary small",
              style: "margin-bottom: 0"
              ) %>
        <%= link_to(
            t("decidim.lausanne.budgets.projects.banner.confirmation", count: current_order.total_projects),
            lausanne_budget_order_path(current_user_record.budget),
            target: "_blank",
            style: "margin-bottom: 0",
            class: "primary small"
          ) %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row column voting-rules">
  <div class="callout secondary">
    <div>
      <div>
        <div>
      <% elsif display_rules? %>
      <h3 class="heading3">
      <%= t(".rules.title") %>
      </h3>
      <ul>
        <%= raw current_rule_explanation %>
        <%= raw t(".rules.extra_rule") %>
      </ul>
      <% end %>
          <% if user_record_submitted? && !hide_user_record.present? %>
          <h3 class="heading6">
            <%= t(".user_record") %>
          </h3>
          <dl>
            <dt><%= t("activemodel.attributes.user_record.first_name") %></dt>
            <dd><%= current_user_record.first_name %></dd>
            <dt><%= t("activemodel.attributes.user_record.last_name") %></dt>
            <dd><%= current_user_record.last_name %></dd>
            <dt><%= t("activemodel.attributes.user_record.birthdate") %></dt>
            <dd><%= current_user_record.birthdate %></dd>
          </dl>
          <% if current_user && !voting_finished? %>
            <button class="button secondary small" data-toggle="userRecord">
              <%= t(".update_user_record") %>
            </button>
          <% end %>
          <% if !current_user && current_order_checked_out? %>
          <div style="display: flex; gap: 1rem">
            <%= button_to(
              t("decidim.lausanne.budgets.projects.banner.terminate_session", count: current_order.total_projects),
              lausanne_budget_user_record_path(lausanne_budget_id: current_user_record.budget.id, id: current_user_record.id),
              method: :delete,
              data: {
                disable: true,
              },
              class: "secondary small"
            ) %>
          </div>
          <% end %>
        <% else %>
          <button class="button primary small" data-toggle="userRecord">
            <%= t(".start_voting") %>
          </button>    
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "decidim/lausanne/budgets/projects/budget_excess" %>
<%= render partial: "decidim/lausanne/budgets/projects/budget_confirm" %>