<div id="project-<%= project.id %>-budget-button">
  <% if voted_for?(project) %>
    <%= button_to(
          t(".added"),
          lausanne_budget_order_line_item_path(budget, project_id: project),
          method: :delete,
          remote: true,
          data: {
            disable: true,
            budget: project.budget_amount,
            "redirect-url": lausanne_budget_project_path(budget, project)
          },
          disabled: !can_have_order? || current_order_checked_out?,
          class: "button expanded button--sc success",
          "aria-label": t(".added_descriptive", resource_name: translated_attribute(project.title))
        ) %>
  <% else %>
    <% if user_record_for_budget? %>
      <% if user_record_submitted? %>
        <%= button_to(
            t(".add"),
            lausanne_budget_order_line_item_path(budget, project_id: project),
            remote: true,
            method: :post,
              data: {
              disable: true,
              budget: project.budget_amount,
              add: true,
              "redirect-url": lausanne_budget_project_path(budget, project)
            },
            disabled: !can_have_order? || current_order_checked_out?,
            class: "button expanded button--sc",
            "aria-label": t(".add_descriptive", resource_name: translated_attribute(project.title))
          ) %>
      <% else %>
        <button class="button expanded button--sc disabled" data-toggle="userRecord">
          <%= t(".add") %>
        </button>
      <% end %>
    <% else %>
      <button class="button expanded button--sc disabled" data-toggle="userRecord" >
        <%= t(".add") %>
      </button>
    <% end %>
  <% end %>
</div>
