<div class="reveal" id="userRecord" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t(".title") %></h3>
    <h4 class="reveal__subtitle"><%= translated_attribute(budget.title) %></h4>
    <button class="close-button" data-close aria-label="<%= t(".close") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="user_record_form">
  <%= decidim_form_for([budget, @user_record_form], html: { class: "form edit_budget" }) do |form| %>
    <% unless @user_record_form.errors.empty? %>
          <div class="callout small alert">
            <h5>Impossible d'effectuer l'opération</h5>
            <p>Vous avez déjà soumis votre vote.</p>
          </div>
      <% end %>
      <div class="row column">
        <div class="fields">
        <%= form.text_field :first_name %>
        <%= form.text_field :last_name %>
        <%= form.date_field :birthdate %>
        <blockquote style="background:white;padding:0.2rem">
          <%= raw t(".explanations") %>
        </blockquote>
        <%= form.check_box :allow_process_data, required: true %>
        <%= form.check_box :its_me, required: true %>
          <%= form.check_box :iam_lausanne, required: true %>
        </div>
        
        <div class="actions">
          <div class="button--double form-general-submit">
            <%= form.submit "Enregistrer et commencer à voter" %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>