<%= render partial: "decidim/shared/component_announcement" %>
<%= render partial: "decidim/lausanne/budgets/projects/votation_banner" %>

<%= cell("decidim/lausanne/budgets/limit_announcement", budget) %>

<div class="row columns">
  <% if voting_finished? %>
    <h2 class="heading2">
      <%= t("decidim.lausanne_budgets.projects.projects_for", name: translated_attribute(budget.title)) %>
    </h2>
  <% else %>
    <%= render partial: "decidim/lausanne/budgets/projects/budget_summary", locals: { include_heading: true, hide_user_record: false} %>
  <% end %>
</div>

<div class="row columns">
  <h3 class="section-heading">
    <%= render partial: "decidim/lausanne/budgets/projects/count" %>
  </h3>
</div>

<div class="row">
  <div class="columns mediumlarge-4 large-3">
    <%= render partial: "decidim/lausanne/budgets/projects/filters_small_view" %>
    <div class="card card--secondary show-for-mediumlarge">
      <%= render partial: "decidim/lausanne/budgets/projects/filters" %>
    </div>
  </div>
  <div id="projects" class="columns mediumlarge-8 large-9" aria-live="polite">
    <%= render partial: "decidim/lausanne/budgets/projects/projects" %>
  </div>
</div>
<%= render partial: "decidim/lausanne/budgets/projects/user_record_form" %>

<%= javascript_pack_tag("decidim_budgets") %>
<%= javascript_pack_tag "decidim_lausanne_budgets" %>
